body{
	background-color: black;
	margin: 0;
}
.parallax-container{
	width: 100vw;
	height: 100vh;
	position: relative;
}
.parallax-item{
	position: absolute;
	top: 10%;
	left: 10%;
	width: 300px;
	height: 300px;
}
.leaf{
	width: 100%;
	height: 100%;
	background: url("../../../../Desktop/Code/parallax-asset-1.png") no-repeat center center;
	background-size: contain;
}












/* Project practice
body{
	background-color: powderblue;
	margin: 0;
}
.parallax-item{
	width: 300px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -150px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.parallax-item img{
	max-width: 100%;
	max-height: 100%;
}*/